@font-face {
  font-family: arbnb;
  src: url(./AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
.nav{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -53px 0px;
}
.image{
  cursor: pointer;
  margin-left:30px ;
  width: 10px;
}
.text-a{
  cursor: pointer;
  text-align: center;
  font-family: arbnb;
  display: flex;
  gap: 25px;
  color: #222222;
  font-size: 14px;
  margin: 0px 40px;
}
.er{
  color: gray;
  font-weight: 100;
}
.paragraph-icon{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: arbnb;
  text-align: center;
  font-size: 12px;
  color: #222222;
  display: flex;
  gap: 25px;
margin-right:50px;
}
.but{
  cursor: pointer;
  width: 80px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  border:1px solid #DDDDDD ;
}
.but i{
  font-size: 15px;
}
.heading{

box-sizing: border-box;
  width: 900px;
  position: relative;
  font-family: arbnb;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  border: 1px solid #DDDDDD;
  margin: 12px 200px;
  padding: 12px 1px;
  padding-left:10px ;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 2px 1px 6px #DDDDDD;
}
.head1{
  position: relative;
margin: -18px -170px;
padding: 20px 66px;
border-radius: 50px;
border-right-style:none;
}
.head1:hover{
  background-color:#DDDDDD;
}
.head2{
    position: relative;
    margin: -18px 40px;
    padding: 19px 34px;
    border-radius: 50px;
}
.head2 p{
  font-size: 15px;
}
.head2:hover{
background-color: #DDDDDD;
}
.head3{
  margin: -18px -99px;
  position: relative;
  right: 60px;
  padding: 19px 34px;
border-radius: 50px;
}
.head3 p{
  font-size: 15px;
}
.head3:hover{
background-color: #DDDDDD;
}
.head4{
  width: 200px;
  right: 75px;
  border-radius: 50px;
  position: relative;
  margin: -18px 20px;
  padding: 20px 174px;
}
.head4 h4{
margin: 0 -130px;
}
.head4 p{
  margin: 0 -130px;
  font-size: 15px;
}
.head4:hover{

  background-color: #DDDDDD;

}
.ic{
  position: relative;
  right: 150px;
  font-size: 15px;
  padding: 15px 15px;
  color: wheat;
  background-color: red;
  border-radius: 50px;
  margin: 0px -260px;
}
.card{
  position: relative;
  margin: 50px 500px;
  position: relative;
  width: 320px;
  height: 380px;
  border: 1px solid black;
}
.images2{
  position: relative;
  margin: 10px 17px;  
}
.images2 img{
  border-radius: 10px;
}
.hidd{
  font-family: arbnb;
  font-size: 13px;
  margin: 0px 10px;
}
.hidd p{
  width: 130px;
  font-size: 16px;
color: gray;
}
.hidd i{
  margin: -20px 250px;
padding: 40px 0px;
}
h2{
  font-family: arbnb;
  font-size: 15px;
  margin: 10px 10px;
}
